.aboutContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e9faf5;
  color: #03140f;
}

.aboutText {
  height: 60%;
  width: 80%;
  margin: 0px auto;
}

.aboutHead {
  margin: 24px 16px;
  text-align: left;
}

.aboutPara {
  margin: 4px auto 28px auto;
  padding: 2px 16px;
  border-radius: 8px;
  background-color: #a6e9d5;
  padding: 18px 18px;
}
